body {
	color: #fff;
	background: #00a7e5;
	font-family: 'Roboto', sans-serif;
}
.enq-form-control {
    width: 420px;
	height: 50px;
	background: #f2f2f2;
	box-shadow: none;
	border: none;
}
.enq-form-control:focus {
	background: #e2e2e2;
}
.enq-form-control, .btn {        
	border-radius: 3px;
}
.enquiry-form {
	width: 500px;
	margin: 30px auto;
}
.enquiry-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 100px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.enquiry-form h2  {
	color: #333;
	font-weight: bold;
    margin-top: 0;
    text-align: center;
}
.enquiry-form p{
    text-align: center;
}
.enquiry-form hr  {
	margin: 0 -30px 20px;
}    
.enquiry-form .form-group {
	margin-bottom: 10px;
}
/* .enquiry-form input[type="checkbox"] {
	margin-top: 3px;
} */
.enquiry-form .row div:first-child {
	padding-right: 10px;
}
.enquiry-form .row div:last-child {
	padding-left: 10px;
}
.enquiry-form .btn {        
	font-size: 16px;
	font-weight: bold;
	background: #3598dc;
	border: none;
    min-width: 140px;
    display: block;
}
.enquiry-form .btn:hover, .enquiry-form .btn:focus {
	background: #2389cd !important;
	outline: none;
}
.enquiry-form a {
	color: #fff;
	text-decoration: underline;
}
.enquiry-form a:hover {
	text-decoration: none;
}
.enquiry-form form a {
	color: #3598dc;
	text-decoration: none;
}	
.enquiry-form form a:hover {
	text-decoration: underline;
}
